---
layout: default
---

<div class="page-container">
  <div class="page-title center" style="margin-bottom: 0;">
    <h1 class="low-highlight">Read Our <mark>Articles</mark></h1>
    <div class="page-block-medium" style="flex-basis: 100%; padding: 0;">
      <div class="categories-container">
        {% for category in site.categories %}
          <div class="category-btn">
            <a href="{{ category.url }}"><h2>{{ category.title }}</h2></a>
          </div>
        {% endfor %}
        <div class="search-container">
          <i class="fas fa-search"></i>
          <form action="/search.html" method="GET" style="display: inline;">
            <input type="text" id="blog-search" name="query" placeholder="Search by title, author, or topic">
          </form>         
        </div>        
      </div>
    </div>
  </div>
  <div class="page-section" style="justify-content: center;">
    <div class="page-block-medium" style="flex-basis: 100%;">      
      <div class="post-grid-container" style="align-items: flex-start;">
        <div class="featured-posts-container">  
          {% for post in site.posts limit:6 %}          
            <a href="{{ post.url }}">
              <div class="post-card">
                <p class="post-card-category">{{ post.category }}</p>
                <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
                <div class="card-desc">
                  <div class="post-card-heading">
                    <h2>{{ post.title }}</h2>
                    {% assign author = site.authors | where: "name", post.author | first %}
                    <form action="{{ author.url }}">                  
                      {% if author %}
                        <button type="submit"><h2>{{ author.name }}</h2><button>
                      {% endif %}
                    </form>
                  </div>                
                  <p>{{ post.excerpt }}</p>
                </div>            
              </div>
            </a>            
          {% endfor %}        
        </div>
        <div class="posts-sidebar-container"> 
          {% for post in site.posts limit:3 offset:6 %}            
            <a href="{{ post.url }}">
              <div class="post-card">
                <p class="post-card-category">{{ post.category }}</p>
                <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
                <div class="card-desc">
                  <div class="post-card-heading">
                    <h2>{{ post.title }}</h2>
                    {% assign author = site.authors | where: "name", post.author | first %}
                    <form action="{{ author.url }}">                  
                      {% if author %}
                        <button type="submit"><h2>{{ author.name }}</h2><button>
                      {% endif %}
                    </form>
                  </div>                
                  <p>{{ post.excerpt }}</p>
                </div>            
              </div>
            </a>            
          {% endfor %}         
        </div>
      </div>
    </div>
    <div class="page-block-medium" style="flex-basis: 100%;">      
      <div class="post-grid-container" id="main-posts">        
        {% for post in site.posts offset:9 %}            
          <a href="{{ post.url }}">
            <div class="post-card">
              <p class="post-card-category">{{ post.category }}</p>
              <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
              <div class="card-desc">
                <div class="post-card-heading">
                  <h2>{{ post.title }}</h2>
                  {% assign author = site.authors | where: "name", post.author | first %}
                  <form action="{{ author.url }}">                  
                    {% if author %}
                      <button type="submit"><h2>{{ author.name }}</h2><button>
                    {% endif %}
                  </form>
                </div>                
                <p>{{ post.excerpt }}</p>
              </div>            
            </div>
          </a>            
        {% endfor %}  
        {% for post in site.posts %}            
        <a href="{{ post.url }}" style="display: none;">
          <div class="post-card" style="display: none;">
            <p class="post-card-category">{{ post.category }}</p>
            <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
            <div class="card-desc">
              <div class="post-card-heading">
                <h2>{{ post.title }}</h2>
                {% assign author = site.authors | where: "name", post.author | first %}
                <form action="{{ author.url }}">                  
                  {% if author %}
                    <button type="submit"><h2>{{ author.name }}</h2><button>
                  {% endif %}
                </form>
              </div>                
              <p>{{ post.excerpt }}</p>
            </div>            
          </div>
        </a>            
      {% endfor %}
      </div>
    </div>
  </div>    
</div>
