---
layout: default
---

<div class="page-container">
  <div class="page-title center">
    <h1 class="low-highlight">Read Our <mark>Articles</mark></h1>
  </div>
  <div class="page-section">
    <div class="page-block-medium" style="flex-basis: 100%;">
      <div class="post-grid-container"> 
        {% for post in site.posts %}
          <a href="{{ post.url }}" class="post-card-post-link">
            <div class="post-card">
              <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
              <div class="card-desc">
                <div class="post-card-heading">
                  <h2>{{ post.title }}</h2>
                  {% assign author = site.authors | where: "name", post.author | first %}
                  <form action="{{author.url}}">                  
                    {% if author %}
                      <button type="submit"><h2>{{ author.name }}</h2><button>
                    {% endif %}
                  </form>
                </div>                
                <p>{{ post.excerpt }}</p>
              </div>            
            </div>
          </a>    
        {% endfor %}
      </div>
    </div>
  </div>
</div>