---
layout: default
---

<div class="page-container">
  <div class="page-section">
    <div class="page-title" id="front-page-title">
      <h1 class="low-highlight">We make it <mark>easy to read and understand current affairs.</mark></h1>
      <p class="gray">The Affair Magazine is a 501(c)(3) dedicated to making current news understandable and fun to read with engaging graphics and meaningful artwork.</p>
      <a href="about.html" class="link-btn">About</a>
      <a href="{{ site.baseurl }}/blog.html" class="link-btn-inverted">Blog</a>
    </div>
    <div class="page-block" id="front-page-image">
      <img src="images/front-page-image.svg">
    </div>
  </div>   
  <img src="images/blue-wave.svg" class="wave" shape-rendering="crispEdges">
  <div class="page-section" style="background-color: var(--pink);">
    <div class="section-title">
      <h1>Read our latest articles!</h1>
    </div>
    <div class="page-block-medium" style="flex-basis: 100%; width: 100vw;">
      <div class="carousel-container">
        {% for post in site.posts %}
          <a href="{{ post.url }}">
            <div class="post-card">
              <p class="post-card-category">{{ post.category }}</p>
              <div class="post-card-img" style="background: url('{{ post.image }}'); background-position: center; background-size: cover;"></div>
              <div class="card-desc">
                <div class="post-card-heading">
                  <h2>{{ post.title }}</h2>
                {% assign author = site.authors | where: "name", post.author | first %}
                <form action="{{author.url}}">                  
                  {% if author %}
                    <button type="submit"><h2>{{ author.name }}</h2><button>
                  {% endif %}
                </form>
                </div>                
                <p>{{ post.excerpt }}</p>
              </div>            
            </div>
          </a>                                        
        {% endfor %}
        <div class="carousel-btn-container">
          <i class="fas fa-chevron-left carousel-btn" id="prev"></i>
          <i class="fas fa-chevron-right carousel-btn" id="next"></i>
        </div> 
      </div>           
    </div>
  </div>  
  <div class="page-section">
    <div class="section-title" id="issues-title">
      <h1>Read our latest issues!</h1>      
    </div>
    <div class="page-block issues-btn-container">
      <a target="_blank" href="https://issuu.com/theaffairmag" class="link-btn-inverted">Issuu</a>
      <a href="https://fliphtml5.com/homepage/rvtbt" class="link-btn-inverted">FlipHTML5</a>
      <a href="https://issuu.com/theaffairmag" class="link-btn">See More</a>
    </div>
    <div class="page-block-medium" style="flex-basis: 100%;">
      <div class="issues-container">
        {% assign sortedIssues = site.issues | sort: 'date' | reverse %}
        {% for issue in sortedIssues limit:4 %}
          <a target="_blank" href="{{ issue.isuu-link }}" rel="external">
            <div class="issue-card">
              <img src="{{ issue.image }}">
            </div>
          </a>
        {% endfor %}
      </div>    
    </div>    
  </div>
  <img src="images/pink-wave.png" class="wave">
  <div class="page-section" style="background-color: var(--pink);">
    <div class="section-title center">
      <h1 class="low-highlight">Get <mark>Featured</mark></h1>
    </div>
    <div class="page-block-medium" style="flex-basis: 100%;">
      <div class="get-featured-container">
        <div class="get-featured-card">
          <div class="get-featured-img">
            <img src="images/svg-icons/social-media.svg">
          </div>          
          <h1 style="background-color: var(--light-purple);">1</h1>
          <p>Stay up to date with our social media for any new contests or features!</p>
          <a class="link-btn" href="#footer-logo" style="background-color: var(--light-purple);">Socials</a>
        </div>
        <div class="get-featured-card">
          <div class="get-featured-img">
            <img src="images/svg-icons/email.svg">
          </div> 
          <h1 style="background-color: var(--teal);">2</h1>
          <p>Interested in doing a collab? Don’t hesitate to email us or DM our social media!</p>
          <a class="link-btn" href="mailto:theaffairmag@gmail.com" style="background-color: var(--teal);">Email</a>
        </div>
        <div class="get-featured-card">
          <div class="get-featured-img">
            <img src="images/svg-icons/social-media.svg">
          </div> 
          <h1 style="background-color: var(--dark-pink);">3</h1>
          <p>Apply to be a part of our staff! Get published and show up on search results!</p>
          <a class="link-btn" href="https://theaffairmag.typeform.com/to/Frldsr" style="background-color: var(--dark-pink);">Apply</a>
        </div>
      </div>      
    </div>
  </div>
  <div class="page-section">
    <div class="section-title center">
      <h1 class="low-highlight"><mark>Join Us</mark></h1>
      <p>We are looking for high school and college/university students to join our team! You may always apply for multiple jobs, but be conscious of how much you can handle. Check out our <a href="/join-us.html">job descriptions</a> for more detail, and <a target="_blank" href="https://theaffairmag.typeform.com/to/Frldsr">apply today</a>. The following positions are available. </p>
    </div>
    <div class="page-block-medium" style="margin: 0 auto;">           
      <div class="roles-container">
        <div class="role-card">
          <img src="images/svg-icons/writer.svg">
          <h2>Writer</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/editor.svg">
          <h2>Editor</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/artist.svg">
          <h2>Writer</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/layout.svg">
          <h2>Layout</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/graphic-designer.svg">
          <h2>Social</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/podcast.svg">
          <h2>Podcast</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/blogger.svg">
          <h2>Blogger</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/developer.svg">
          <h2>Developer</h2>
        </div>
        <div class="role-card">
          <img src="images/svg-icons/finances.svg">
          <h2>Finances</h2>
        </div>
      </div>
    </div>
  </div>
</div>

